 {{#if isUser}}
  
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GESTION DE PVC</title>
    <!-- Bootstrap CSS -->
    
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"  />
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/icons/icon.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->


    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
  
    <!-- Helpers -->
   

</head>



                    

                
                


<body>
  {{!-- TOAST --}}
  <div id="toastContainer" class="toast-container" style="position: fixed; top: 10px; right: 10px; z-index: 9999;"></div>

  
  {{!-- TOAST --}}
  <!-- Modal -->
  
    
    
    
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <span class="app-brand-logo demo">
              <img width="120" height="60" src="../../storage/icono/logo.jpg"  class="ml-5" >
            </span>
            

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="https://web.whatsapp.com/send?phone=541122529738&text=¡Hola! Necesito ayuda!" target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Soporte</div>
              </a>
            </li>

            <!-- Layouts -->
            

            
            {{#if isUser.permisos}}

                <li class="menu-item">
                  <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-clipboard"></i>
                    <div data-i18n="Authentications">BASE DE DATOS</div>
                  </a>
                  
                  <ul class="menu-sub">
                    {{!-- <li class="menu-item">
                      <a href="/paciente/alta" class="menu-link" >
                        <div data-i18n="Basic">Alta</div>
                      </a>
                    </li> --}}
                    
                    <li class="menu-item">
                      <a href="/socios" class="menu-link" >
                        <div data-i18n="Basic">Tareas</div>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="/productos" class="menu-link" >
                        <div data-i18n="Basic">Productos</div>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="/insumos" class="menu-link" >
                        <div data-i18n="Basic">Insumos</div>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="/stock" class="menu-link" >
                        <div data-i18n="Basic">Stock</div>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="/clientes" class="menu-link" >
                        <div data-i18n="Basic">Clientes</div>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="/reportes" class="menu-link" >
                        <div data-i18n="Basic">Reportes</div>
                      </a>
                    </li>
                    
                    <li class="menu-item disabled">
                      <a href="" class="menu-link" >
                        <div data-i18n="Basic">Ventas</div>
                      </a>
                    </li>
                    
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-clipboard"></i>
                    <div data-i18n="Authentications">GESTION DE TAREAS</div>
                  </a>

                  <ul class="menu-sub">
                    {{!-- <li class="menu-item">
                      <a href="/paciente/alta" class="menu-link" >
                        <div data-i18n="Basic">Alta</div>
                      </a>
                    </li> --}}
                    
                    <li class="menu-item">
                      <a href="/produccion" class="menu-link" >
                        <div data-i18n="Basic">Produccion</div>
                      </a>
                    </li>
                   
                    
                  </ul>
                </li>
            {{else}}
               
            {{/if}} 
            
            {{!-- <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">Login</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/login" class="menu-link" >
                    <div data-i18n="Basic">Ingresar</div>
                  </a>
                </li>
              </ul>
            </li> --}}
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              {{!-- <form action="/paciente/modificar" method="GET">
                <div class="navbar-nav align-items-center">
                  <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="text" class="form-control border-0 shadow-none" id="dni" placeholder="Buscar..." aria-label="Buscar..." name="dni">
                  </div>
                </div>
              </form> --}}
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                

                <!-- User -->
                <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                      <i class="bx bx-bell bx-sm"></i>
                      <span class="badge bg-danger rounded-pill badge-notifications" id="cantidadrecordatorios">0</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end py-0">
                      <li class="dropdown-menu-header border-bottom">
                        <div class="dropdown-header d-flex align-items-center py-3">
                          <h5 class="text-body mb-0 me-auto">Recordatorios</h5>
                          <a href="javascript:void(0)" class="dropdown-notifications-all text-body" ><i class="bx fs-4 bx-bell"></i></a>
                        </div>
                      </li>
                      <li class="dropdown-notifications-list scrollable-container ps">
                        <ul class="list-group list-group-flush" id="recordatorios">
                        </ul>
                      <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></li>
                      <li class="dropdown-menu-footer border-top">
                        <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center p-3">
                          Ver todos
                        </a>
                      </li>
                    </ul>
                  </li>
                
                <!--/ User -->
                
                <li class="nav-item navbar-dropdown dropdown-user dropdown">

                  
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="m-2">
                         {{#if isUser}}
                          <i class="bi bi-person-square btn btn-primary"> </i>
                        {{else}}
                          <i class="bi bi-question-square btn btn-outline-warning"></i>
                        {{/if}} 
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      {{#if isUser}}
                         <a class="dropdown-item" href="#">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar avatar-online"><span class="avatar-initial rounded-circle bg-label-danger">{{isUser.id}}</span></div>
                              
                            </div>
                            <div class="flex-grow-1">
                              <span class="fw-semibold d-block">{{isUser.nombre}} {{isUser.apellido}}</span>
                              <small class="text-muted">{{isUser.permisos}}</small> 
                            </div>
                          </div>
                        </a>
                      {{else}}
                        <a href="/login" class=" btn btn-sm btn-outline-primary dropdown-item">Ingresar</a>
                      {{/if}} 
                     
                    </li>
                    
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    {{!-- <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">Mi Perfil</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li> --}}
                    
                     {{#if isUser}}
                      <li>
                        <a class="dropdown-item" href="/login/logout">
                          <i class="bx bx-power-off me-2"></i>
                          <span class="align-middle">Salir</span>
                        </a>
                      </li>
                    {{/if}}
                    
                  </ul>
                </li>
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                {{{body}}}
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , hecho con ❤️ por
                  <a href="https://web.whatsapp.com/send?phone=541122529738&text=¡Hola! Necesito ayuda!" target="_blank" class="footer-link fw-bolder">Banana Code</a>
                </div>
                <div>
                  
                  <a
                    href="https://web.whatsapp.com/send?phone=541122529738&text=¡Hola! Necesito ayuda!"
                    target="_blank"
                    class="footer-link me-4"
                    >Soporte</a
                  >
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <div class="buy-now">
      <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-primary btn-buy-now">Atrás</a>

    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

     <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>

    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->


    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/index.js"></script>
    <!-- Page JS -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>

    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
    
   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{!-- <script src="../js/funcionesHtmlAgenda.js"></script> --}}
    
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/locale/es.js"></script>

    
    <script>
      $(document).ready(function() {

        

        //crea una peticion para recuperar las citas de mañana y pasado mañana y mostralas en el ul que tiene el id recordatorios y la cantidad de recordatorios en el span con el id cantidadRecordatorios
        $.ajax({
          url: '/workout/recordatorios',
          type: 'GET',
          dataType: 'json',
          success: function(data) {
            const {results, subnick} = data;

           
            //recorre el data y lo muestra en el ul con el id recordatorios\
            //console.log(data);
            $.each(results, function(index, val) {
              $('#recordatorios').append(`<li class="list-group-item list-group-item-action dropdown-notifications-item"><div class="d-flex"><div class="flex-shrink-0 me-3"><div class="avatar"><span class="avatar-initial rounded-circle bg-label-danger">${subnick}</span></div></div><div class="flex-grow-1"><h6 class="mb-1">Vencimiento de tu Plan</h6><p class="mb-0">${val.fecha_vencimiento}</p><small class="text-muted">ahora</small></div><div class="flex-shrink-0 dropdown-notifications-actions"><a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a><a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a></div></div> </li>`);
            });
            //muestra la cantidad de recordatorios en el span con el id cantidadRecordatorios
            $('#cantidadrecordatorios').html(results.length);
            
          },
          error: function(data) {
            console.log(data);
          }
        });

        
        //si existe el id de la tabla, la inicializo
        if($('#dataTable').length)
        {
          if($('.agendacontenedor').length)
          {
            $('#dataTable').DataTable({
            //ordenar por posicion 1,2
            "order": [[ 1, "asc" ],[ 2, "asc" ]],
            //sacale el ordenamiento cuando esta en la url tenga /socios
            //"ordering": false,
            
            // ponelo en español
            "language": {
              "url": "../assets/vendor/libs/datatables/datatables.es.json"
            }
            
          });
          }else{
            $('.table').DataTable({
            "order": [[ 1, "desc" ]],
            "language": {
              "url": "../assets/vendor/libs/datatables/datatables.es.json"
            }
            
          });
          }
          
        }
        
        //
        

        
        if($('#calendar').length)
        {
          

          document.addEventListener('paste', function(event) {
              //alert('Pegaste algo!');
             const inputFieldsmodalmodal = document.querySelectorAll('#modal-event input');
             
              inputFieldsmodalmodal.forEach(function(inputField) {
                  // Obtener el texto pegado
                  const clipboardData = event.clipboardData || window.clipboardData;
                  const pastedText = clipboardData.getData('text');
                  //alert(pastedText)
                  // Obtener el nombre del campo de entrada
                  const fieldName = inputField.id;
                  //alert(fieldName)

                  // Asignar el texto pegado al campo de entrada correspondiente
                  switch (fieldName) {
                    case 'dni_paciente':
                      console.log(pastedText.split(',')[0]);
                      document.getElementById('dni_paciente').value = pastedText.split(',')[0];
                      //darle evento change para que busque el paciente
                      document.getElementById('dni_paciente').dispatchEvent(new Event('change'));
                      
                      break;
                    case 'nombre_paciente':
                    console.log(pastedText.split(',')[1]);
                    document.getElementById('nombre_paciente').value = pastedText.split(',')[1];
                      break;
                    case 'apellido_paciente':
                    console.log(pastedText.split(',')[2]);
                    document.getElementById('apellido_paciente').value = pastedText.split(',')[2];
                      break;
                    case 'contacto_paciente':
                    console.log(pastedText.split(',')[3]);
                    document.getElementById('contacto_paciente').value = pastedText.split(',')[3];
                      break;
                    default:
                      break;
                  }
                  

              });
            
            //alert('pegado')
           
        
            
            // Asignar el texto pegado al campo de entrada correspondiente 5678,nicolas,piersanti,1122529738
            

            // Prevenir la acción de pegado predeterminada
            event.preventDefault();
          });
        


          $.ajax({
            url: '/socios/calendario?json=1',
            type: 'GET',
            dataType: 'json',
            success: function(response){

              let events = response;
              $('#calendar').fullCalendar({
                  header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                  },
                  defaultDate: moment().format('YYYY-MM-DD'),
                  defaultView: 'agendaWeek', // Mostrar la vista por semana por defecto
                  weekends: false, // Oculta los fines de semana
                  // Oculta los días que no sean de lunes a viernes
                  hiddenDays: [0, 6],
                  navLinks: true, // can click day/week names to navigate views
                  buttonIcons: true,
                  weekNumbers: false,
                  editable: true,
                  eventLimit: true,
                  events: events,
                  locale: 'es',
                  //mostra de otro color el dia de hoy
                  dayRender: function (date, cell) {
                    if (date.isSame(moment(), 'day')) {
                        cell.css("background-color", "#ff9f89");
                    }
                  },
                  dayClick: function (date, jsEvent, view) {

                    $('#fecha_cita').val(date.format('YYYY-MM-DD HH:mm:ss'));
                    // asignale el valor a fecha_fin_cita  date.add(30, 'minutes').format('YYYY-MM-DD HH:mm:ss');
                    $('#fecha_fin_cita').val(date.add(30, 'minutes').format('YYYY-MM-DD HH:mm:ss'));

                    $('#modal-title-add').text('Agregar Cita - '+date.format('DD-MM-YYYY HH:mm:ss'));
                    $('#dni_paciente').text('');
                    $('#event-description-add').html("");
                    $('#dni_paciente').val('');
                    $('#nombre_paciente').val('');
                    $('#apellido_paciente').val('');
                    $('#contacto_paciente').val('');
                    $('#comentario_cita').val('');
                    $('#id_agenda').val(0);
                    $('#modal-event').modal('show');

                    //eliminar la clase btn-warninr al boton
                   
                    let form = document.getElementById('add-event');
                    form.action = '/socios/alta';
                    let submitButton = form.querySelector('button[type="submit"]');
                     submitButton.classList.add('btn-primary');
                    //pone la clase btn-primary
                    submitButton.classList.remove('btn-danger');
                    submitButton.textContent = 'Guardar Cita';
                    
                  }, 
                  eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {

                      let fecha_cita = event.start.format('YYYY-MM-DD HH:mm:ss');
                      let fecha_fin_cita = event.end.format('YYYY-MM-DD HH:mm:ss');
                      let id = event.id;
                      // crea la variable fecha_cita_fin que sea igual a fecha_cita + 30 minutos
                     
                      //console.log(fecha_cita);
                      
                      console.log(fecha_cita);
                      
                      let url = '/socios/alta?id='+id;
                      let data = {
                        id_agenda: id,
                        fecha_cita: fecha_cita,
                        fecha_fin_cita: fecha_fin_cita
                      };
                      $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success: function(response){
                            
                        }
                      });
                      let title = event.title;
                      let message = 'La cita se movio a la fecha '+fecha_cita;
                      let duration = 5000; // 5 segundos
                      let type = 'bg-success'; // 'info', 'success', 'warning', 'danger'
                      showBootstrapToast(title, message, duration, type);


                  },
                  eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
                    // Aquí se actualizará la duración del evento al cambiar su tamaño
                    let fecha_cita = event.start.format('YYYY-MM-DD HH:mm:ss');
                    let id = event.id;
                    // Actualizar la duración del evento
                    let fecha_fin_cita = event.end.format('YYYY-MM-DD HH:mm:ss');
                    // Resto la fecha de inicio a la fecha de fin para obtener la duración en minutos
                    //let duracion = moment.duration(event.end.diff(event.start)).asMinutes();
                    //alert(fecha_fin_cita);
                    //alert(id);
                    let url = '/socios/alta?id='+id;
                    //alert(url)
                    let data = {
                      id_agenda: id,
                      fecha_cita: fecha_cita,
                      fecha_fin_cita: fecha_fin_cita
                    };
                    console.log (data);
                    $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success: function(response){
                            console.log(response);
                        }
                      });
                      let title = event.title;
                      let message = 'La cita se movio a la fecha desde '+fecha_cita+' hasta '+fecha_fin_cita;
                      let duration = 5000; // 5 segundos
                      let type = 'bg-success'; // 'info', 'success', 'warning', 'danger'
                      showBootstrapToast(title, message, duration, type);

                  },
                  eventClick: function (calEvent, jsEvent, view) {
                      console.log(calEvent);

                      $('#fecha_cita').val(calEvent.start.format('YYYY-MM-DD HH:mm:ss'));
                      $('#fecha_fin_cita').val(calEvent.end.format('YYYY-MM-DD HH:mm:ss'));
                      $('#modal-title-add').text(calEvent.title);
                      const id = calEvent.id;
                      const url = '/socios?id='+id;
                      $.ajax({
                        url: url,
                        type: 'GET',
                        dataType: 'json',
                        success: function(response){
                          
                          let primeravez = response[0].primeravez;
                          
                          if(primeravez == 1){
                            $("#primeravez").prop("checked", true);
                          }else{
                            $("#primeravez").prop("checked", false);
                          }
                          //console.log(response);
                          $('#dni_paciente').text(response[0].dni_paciente);
                          $('#id_agenda').val(response[0].id_agenda);
                          $('#eliminacita').attr('onclick', "peticionAjax('/socios/eliminar?id="+response[0].id_agenda+"','DELETE','true','true')");
                          $('#event-description-add').html(response[0].fecha_cita);
                          $('#dni_paciente').val(response[0].dni_paciente);
                          $('#nombre_paciente').val(response[0].nombre_paciente);
                          $('#apellido_paciente').val(response[0].apellido_paciente);
                          $('#contacto_paciente').val(response[0].contacto_paciente);
                          $('#comentario_cita').val(response[0].comentario_cita);
                          $('#modal-event').modal('show');
                          
                          let form = document.getElementById('add-event');
                          form.action = '/agenda/alta?id='+$('#id_agenda').val();
                          let submitButton = form.querySelector('button[type="submit"]');
                          //ponele la clase btn-warninr al boton
                          submitButton.classList.add('btn-warning');
                          //elimina la clase btn-primary
                          submitButton.classList.remove('btn-primary');
                          submitButton.textContent = 'Modificar Cita';
                        },
                        error: function(xhr, status, error){
                          console.log(xhr);
                          console.log(status);
                          console.log(error);
                        }
                      });
                      // hace un modal(show) pero con alguna animacion css
                      
                  }, 
                  

                });
                
            
            },
            //maneja los errores con estados http imprimilo con swall
            error: function(xhr, status, error){
              console.log(xhr);
              console.log(status);
              console.log(error);
            }
          });
          
        }
       
      });
      
    </script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>

</html>
{{else}}
<html lang="en" class="light-style  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>FRESHPLAST</title>
   
    <!-- Canonical SEO -->
    <link rel="canonical" href="../assets/img/icons/icon.png">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/icons/icon.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css">
    
    
    
    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css">
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css">
    <link rel="stylesheet" href="../assets/css/demo.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    
    

    <!-- Page CSS -->
    <!-- Page -->
<link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css">
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script><style type="text/css">
.layout-menu-fixed .layout-navbar-full .layout-menu,
.layout-page {
  padding-top: 0px !important;
}
.content-wrapper {
  padding-bottom: 0px !important;
}</style>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <!-- Custom notification for demo -->
    <!-- beautify ignore:end -->

<style type="text/css">
@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: circular;

  src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Book.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: circular;

  src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Bold.woff2') format('woff2');
}</style></head>

  {{{body}}}
  <script src="../assets/vendor/libs/jquery/jquery.js"></script>
  <script src="../assets/vendor/libs/popper/popper.js"></script>
  <script src="../assets/vendor/js/bootstrap.js"></script>
  <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  
  <script src="../assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  
  

  <!-- Main JS -->
  <script src="../assets/js/main.js"></script>

  <!-- Page JS -->
  
  
  
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
  



<div id="h10-xray"></div><div id="h10-xray-keywords"></div><div id="h10-asin-grabber"></div><div id="h10-demand"></div><div id="h10-inventory"></div><div id="h10-profitability-calculator"></div><div id="h10-review"></div><div id="h10-xray-walmart"></div><div id="h10-token-connection"></div><div id="h10-page-widget"></div><div id="loom-companion-mv3" ext-id="liecbddmkiiihnedobmlmillhodjkdmb"><section id="shadow-host-companion"></section></div></body></html>
{{/if}} 